# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
*.SchDocPreview
/ANT_AMP/History
/node/History
*.PrjPcbStructure
/node_e77/History
/node_rp2040/History
/node_e77/History
/node_e77/History
/node_e77/History
/node_e77/Project Logs for node_e77
/node_ht62/History
*.Admin
*.crf
*.htm
FW/mesh_sniffer/FW_E77_UART2/JLinkSettings.ini
FW/mesh_sniffer/FW_E77_UART2/JLinkLog.txt
*.dep
*.iex
*.ini
*.lnp
*.TMP
*.dbgdt
*.dni
*.ps1
/FW/usb_hc32/usb_sigle_virtual_com_slave_v0.2/example/EWARM/settings
/FW/usb_hc32/usb_sigle_virtual_com_slave_v0.2/example/EWARM/output/release/Obj
/FW/usb_hc32/usb_sigle_virtual_com_slave_v0.2/example/EWARM
/node_ht62/Project Logs for node_ht62
FW/usb_hc32/usb_sigle_virtual_com_slave_v0.2/example/MDK/JLinkLog.txt
FW/usb_hc32/usb_sigle_virtual_com_slave_v0.2/example/MDK/JLinkLog.txt
/stm32wle5_wb/History
/node/Project Logs for node
/stm32wle5_wb/History
/ANT_AMP/History
/ANT_AMP/History
*.drc
*.html
*.dep
*.htm
*.odt#
*.dep
*.crf
*.Admin
FW/mesh_sniffer/FW_RA08/tremo_mesh.uvguix.Admin
*.crf
*.lst
FW/mesh_sniffer/FW_AT32/MDK_V5/JLinkLog.txt
*.htm
*.Admin
/FW/mesh_sniffer/FW_AT32/MDK_V5/objects
/RA08B/History
*.LOG
/RFM6505B/History
*.Admin
*.dep
*.crf
FW/mesh_sniffer/FW_AT32/MDK_V5/JLinkLog.txt
FW/mesh_sniffer/FW_AT32/MDK_V5/JLinkLog.txt
*.Admin
*.__i
swsc002d.zip
*.Admin
*.Admin
/node_nrf52/History
FW_projects/test_at32/MDK_V5/JLinkLog.txt
FW_projects/test_at32/MDK_V5/objects/test_at32.axf
*.html
*.drc
*.OutJob
/fakeTec_pcb-master/Circuit/.history
/faketec/.history
/z62_pcb/History
*.Admin
FW/mesh_sniffer/FW_AT32/MDK_V5/JLinkLog.txt
*.Admin
*.txt
/FW/mesh_sniffer/FW_AT32/MDK_V5/objects
*.Admin
/FW/mesh_sniffer/FW_AT32/MDK_V5/objects
/LORAbridge/History
/fakeRAK11200/History
FW/mesh_sniffer/FW_E77/e77_mesh.uvguix.Admin
